<div class="card mt-5">
  <div class="card-header">
    {{pageTitle}}
  </div>
  <div class="card-body">
    <div class="container-fluid">
      <div class="text-center">
        <img src="./assets/duck-svgrepo-com.svg"
             class="img-responsive center-block"
             style="max-height:300px;padding-bottom:10px" alt="logo-img"/>
      </div>
      <div class="text-center">Developed by:</div>
      <div class="text-center">
        <h3>Filippo Sbaiz</h3>
      </div>
      <div class="text-center">@Pippo1997</div>
      <div class="text-center">
        <a href="https://github.com/Pippo1997?tab=repositories">Filippo - GitHub</a>
      </div>
    </div>
  </div>
</div>
